{
  "Comment": "A CNAME record set for the app.",
  "Changes": [
    {
      "Action": "CREATE",
      "ResourceRecordSet": {
        "Name": "FQDN",
        "Type": "CNAME",
        "TTL": 60,
        "ResourceRecords": [
          {
            "Value": "POINTS_TO"
          }
        ]
      }
    }
  ]
}
